input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}


textarea.ng-invalid {
    background-color:pink;
}
textarea.ng-valid {
    background-color:lightgreen;
}




.RedFont{

	color: red !important;
}

.IconRemove{

	    font-size: 20px !important;
    color: #ef405e !important;
}

.containerSyle{

    background-color: whitesmoke !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    border-radius: 1% !important;

}